@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

header {
  @apply p-4 shadow-lg;
}

a {
  @apply font-bold;
}

fieldset {
  @apply ring-2 m-2 p-4 shadow-lg drop-shadow-md;
}

legend {
  @apply font-bold;
}
